body{
  margin: 0;
  padding: 1rem;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.header{
  font-size: 2rem;
  font-weight: 700;
}
.guess-board{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 20rem;
}
.guess-block{
  height: 3.25rem;
  width: 3.25rem;
  border: .07em solid #D3D6DA;
  margin: .07em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 550;

}

.keyboard{
  display: grid;
  grid-template-rows: repeat(3, 3.5em);
  grid-template-columns: repeat(20, 1.6em);
  box-sizing: border-box;
}

.key{
  grid-column: span 2;
  margin: .2em;
  background-color: #D3D6DA;
  border: none;
  border-radius: .5em;
}
.key:hover{
  cursor: pointer;
  background-color:  #D3D6DA;
  filter: brightness(110%);
}

.big-button{
  grid-column: span 3;
}
